<footer class="vc-footer">
    <div class="vc-footer-copyright">
        <div> Copyright © 2019-2021</div>
        <div class="vc-footer-info"><a class="hover_underline" href="https://beian.miit.gov.cn/" target="_blank">赣ICP备15011410号-1</a></div>
    </div>
</footer>

<a class="to-top" id="btn-top" title="回到顶部">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-Top"></use>
    </svg>
</a>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/toast.js" async></script>
<script type="text/javascript" src="/static/js/lazyload.min.js"></script>
<script type="text/javascript" src="${version('/static/js/base.js')}"></script>
