.latest-panel {
  background: #ffffff;
  padding: 5px;
}
.latest-panel .latest-panel-wrap {
  padding: 10px 5px;
}
.latest-panel .latest-panel-wrap .latest-panel-head {
  position: relative;
  margin: 0 0 10px;
  padding: 1px 0px 1px 15px;
}
.latest-panel .latest-panel-wrap .latest-panel-head div {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.latest-panel .latest-panel-wrap .latest-panel-head div::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  content: "";
  background: #1abc9c;
  border-radius: 2px;
}
.latest-panel .latest-panel-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0px 5px;
}
.latest-panel .latest-panel-body .latest-panel-item {
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px dashed #eee;
}
.latest-panel .latest-panel-body .latest-panel-item .latest-panel-list-img {
  display: flex;
  height: 63px;
}
.latest-panel .latest-panel-body .latest-panel-item .latest-panel-list-img > img {
  height: 60px;
}
.latest-panel .latest-panel-body .latest-panel-item .latest-panel-list-footer {
  padding: 0px 5px;
  color: #333;
  position: relative;
  flex: 1;
}
.latest-panel .latest-panel-body .latest-panel-item .latest-panel-list-footer:hover {
  color: #e53c24;
}
.latest-panel .latest-panel-body .latest-panel-item .latest-panel-list-footer .latest-panel-list-time {
  position: absolute;
  bottom: 0;
  color: #999;
  font-size: 12px;
}
