.topic-panel-block {
  background: #fff;
}
.topic-panel-block .topic-panel-block-wrap {
  position: relative;
  margin: 0 0 10px;
  padding: 6px 0px 6px 10px;
}
.topic-panel-block .topic-panel-block-wrap .topic-panel-block-title {
  position: relative;
  padding: 1px 0px 1px 15px;
}
.topic-panel-block .topic-panel-block-wrap .topic-panel-block-title div {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.topic-panel-block .topic-panel-block-wrap .topic-panel-block-title div::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  content: "";
  background: var(--main-color);
  border-radius: 2px;
}
.topic-panel-block .topic-panel-main {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.topic-panel-block .topic-panel-main .topic-panel-list {
  width: 48%;
  margin-bottom: 20px;
}
.topic-panel-block .topic-panel-main .topic-panel-list > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.topic-panel-block .topic-panel-main .topic-panel-list > a > img {
  border-radius: 3px;
  width: 30px;
  height: 30px;
}
.topic-panel-block .topic-panel-main .topic-panel-list > a > span {
  padding-left: 5px;
}
.hot-panel {
  background: #fff;
}
.hot-panel .hot-panel-wrap {
  position: relative;
  padding: 6px 0px 0px 10px;
}
.hot-panel .hot-panel-wrap .hot-panel-title {
  position: relative;
  padding: 1px 0px 1px 15px;
}
.hot-panel .hot-panel-wrap .hot-panel-title div {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.hot-panel .hot-panel-wrap .hot-panel-title div::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  content: "";
  background: var(--main-color);
  border-radius: 2px;
}
.hot-panel .hot-panel-body {
  padding: 10px;
}
.hot-panel .hot-panel-body .hot-panel-list {
  padding: 3px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot-panel .hot-panel-body .hot-panel-list .hot-panel-tag {
  text-align: center;
  border-radius: 5px;
  width: 21px;
  display: inline-block;
  color: #333;
  height: 21px;
  line-height: 21px;
  background: #eee;
}
.hot-panel .hot-panel-body .hot-panel-list .hot-panel-tag-1 {
  background: #ff0000;
  color: #fff;
}
.hot-panel .hot-panel-body .hot-panel-list .hot-panel-tag-2 {
  background: #ff622e;
  color: #fff;
}
.hot-panel .hot-panel-body .hot-panel-list .hot-panel-tag-3 {
  background: #f38f6f;
  color: #fff;
}
.hot-panel .hot-panel-body .hot-panel-list .hot-panel-title {
  color: #3e3c3c;
  padding-left: 10px;
  font-size: 14px;
}
.hot-panel .hot-panel-body .hot-panel-list .hot-panel-title:hover {
  color: var(--main-color);
}
.label-panel {
  background: #fff;
  margin-bottom: 10px;
}
.label-panel .label-panel-wrap {
  position: relative;
  margin: 0 0 10px;
  padding: 6px 0px 6px 10px;
}
.label-panel .label-panel-wrap .label-panel-title {
  position: relative;
  padding: 1px 0px 1px 15px;
}
.label-panel .label-panel-wrap .label-panel-title div {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.label-panel .label-panel-wrap .label-panel-title div::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  content: "";
  background: var(--main-color);
  border-radius: 2px;
}
.label-panel .label-panel-body {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.label-panel .label-panel-body .label-panel-list {
  display: inline-block;
  width: 30%;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 4px 0px;
  text-align: center;
  border: 1px solid hsla(0, 0%, 39%, 0.5);
  border-radius: 2px;
  text-decoration: none;
  background: hsla(0, 0%, 100%, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #666;
}
.label-panel .label-panel-body .label-panel-list:hover {
  background: var(--main-color);
  border-color: var(--main-color);
  color: #fff;
}
.ad-panel-module .ad-panel-list a img {
  width: 100%;
  max-height: 280px;
}
.header_content {
  transform: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}
.article .article-info {
  margin-bottom: 20px;
}
.article .article-info .article-info-inline {
  display: inline-block;
  font-size: 14px;
  color: var(--font-color);
}
.article .article-info .span {
  color: #8e8b8b;
  padding-right: 10px;
  font-size: 13px;
}
.article .article-info .span-a {
  color: #333;
  padding-right: 10px;
  font-size: 13px;
  word-break: break-all;
}
.article .article-info .article-tag {
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 8px;
}
.article .article-info .article-tag-0 {
  color: #38bc8e;
  border: 1px solid #0fe28c;
}
.article .article-info .article-tag-0:hover {
  background: #38bc8e;
  color: #fff;
}
.article .article-info .article-tag-1 {
  color: #2596e8;
  border: 1px solid #2ca7e2;
}
.article .article-info .article-tag-1:hover {
  background: #3189e8;
  color: #fff;
}
.article .article-info .article-tag-2 {
  color: #7f54e8;
  border: 1px solid #9f6ee2;
}
.article .article-info .article-tag-2:hover {
  background: #7f54e8;
  color: #fff;
}
.article .article-info .article-tag-3 {
  color: #e87509;
  border: 1px solid #e28b13;
}
.article .article-info .article-tag-3:hover {
  background: #e87509;
  color: #fff;
}
.article .article-content p {
  overflow: auto;
}
.article h2 {
  margin-top: 0px;
}
.content-add {
  padding: 10px;
}
img {
  max-width: 100%;
}
pre {
  background: var(--font-color-desc);
  padding: 5px;
}
pre code {
  color: #fff;
}
