<% for (vo in articleList){ %>
<div class="article-module">
  <div class="article-module-body">
    <% if(isNotEmpty(vo.titlePic)){ %>
    <div class="article-module-img">
      <a href="/article/${vo.id}.html" title="${vo.title}" rel="bookmark">
        <img class="lazy" data-src="${vo.titlePic}" alt="${vo.title}"/>
      </a>
    </div>
    <% } %>
    <div class="article-module-body-right">
      <div class="article-module-header">
        <a href="/article/${vo.id}.html" class="article-module-title" title="${vo.topicName}">
          ${vo.title}
        </a>
        <div class="article-module-desc">${vo.description}</div>
      </div>
      <div  class="article-module-info">
        <% if(vo.sourceType == 1) { %>
        <span class="tag-source">原创</span>
        <span>
          <svg class="icon tag-icon" aria-hidden="true">
            <use xlink:href="#icon-user"></use>
          </svg>
          ${vo.createName}</span>
        <% } else { %>
        <span class="tag-source">转载</span>
        <svg class="icon tag-icon" aria-hidden="true">
          <use xlink:href="#icon-user"></use>
        </svg>
        <span>${vo.sourceName}</span>
        <% } %>
        <span>
          <svg class="icon tag-icon" aria-hidden="true">
            <use xlink:href="#icon-time"></use>
          </svg>
          ${vo.updateTime,dateFormat="yyyy-MM-dd HH:mm"}
        </span>
      </div>
    </div>
  </div>
</div>
<% } %>
