<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <title>${webTitle!}</title>
  <meta name="keywords" content="${meta_keys!}">
  <meta name="description" content="${meta_desc!}">
  <% include("../layout/headercss.html"){} %>
  <link rel="stylesheet" href="${version('/static/theme/article-list.css')}">
</head>
<body>
<% include("../layout/header.html"){} %>
<div class="container vc-container vc-page">
  <div id="header_content" style="transform: none;">
    <div class="row" style="transform: none;">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="article-list mb-20">
          <div class="article-list-header">
            <i class="fa fa-rss"></i>
            <span class="title">${topicName}</span>
          </div>
          <div class="article-list-main">
            <% for(vo in articlePage.list) { %>
            <% include("../fragment/articleModule.html",{vo: vo}){} %>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
        <div class="mb-20">
          <% include("../fragment/hotList.html"){} %>
        </div>
        <div class="mb-20">
          <% include("../fragment/topicBlockList.html"){} %>
        </div>
        <div class="mb-20">
          <% include("../fragment/adModule.html"){} %>
        </div>
        <div class="mb-20">
          <% include("../fragment/labelList.html"){} %>
        </div>
      </div>
    </div>
  </div>
</div>
<% include("../layout/footer.html"){} %>
</body>
</html>
